body {
    --checklist-done-decoration: dashed line-through #888;
}

/*
 * Live Preview
 */

.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="X"] {
    text-decoration: dotted line-through red;
    color: var(--checklist-done-color);
}

.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="~"] {
    text-decoration: wavy line-through #888;
    color: var(--checklist-done-color);
}

.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="?"] {
    text-decoration: wavy underline orange;
    color: var(--checklist-done-color);
}

.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task]:hover {
    text-decoration: none;
}

/*
 * Reading View
 */


.markdown-preview-view ul>li.task-list-item:hover {
    text-decoration: none;
}
